.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }


  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: grey;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: grey;}



a{
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    text-decoration: none;
    
}
a:hover{
    background-color: grey;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

body{
  background-color: black;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

[rank] img {
  width: 200px;
  
}

.column {
  float: left;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

h2{
  color: whitesmoke;
} 

button{
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  text-decoration: none;
  
}
button:hover{
  background-color: grey;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

body{
  background-image:url(imgs/background.png);
}

.dropup {
  position: relative;
  display: inline-block;
}


.dropup-content {
  display: none;
  position: absolute;
  bottom: 50px;
  background-color: #04AA6D;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropup:hover .dropup-content {
  display: block;
}

.dropbtn {
  background-color: #04AA6D;
}